*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
Pods
.kotlin
!.run

# Fastlane
fastlane/report.xml
fastlane/.env

# CircleCI
vendor/
.bundle/

# Share IssueNavigationConfiguration
!.idea/vcs.xml

# KMP SwiftPM import
.swiftpm
.build
