*.iml
.gradle
**/.idea/*
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
Pods
.kotlin
!.run

# Fastlane
fastlane/report.xml
fastlane/.env

# CircleCI
vendor/
.bundle/

# Share IssueNavigationConfiguration
!/.idea/vcs.xml
# Ensure iosApp run configuration works
!/.idea/xcode.xml
!/.idea/purchases-kmp.iosApp.iml
!/.idea/modules.xml
